.ignore
.sw?
.*.sw?
*.beam
*.lock
erl_crash.dump
rabbitmq_email.d
.tool-versions

.erlang.mk/
cover/
deps/
doc/
ebin/
escript/
logs/
plugins/
sbin/
tmp/

test/system_SUITE_data/samples*
test/TEST-*.xml
