name: Build

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

jobs:
  CI:
    name: Build and test on Erlang/OTP ${{ matrix.otp-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        otp-version: [23, 24, 25]
        elixir-version: ['1.14']
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp-version }}
          elixir-version: ${{ matrix.elixir-version }}
      - name: Compile
        run: make
      - name: Test
        run: make tests
